<div class="span10">
  <%= form_for(@post, :url => {:controller =>"admins/posts", :action=>"create"}, :html => {:multipart => true} ) do |builder| %>
    <%= render "form", :f => builder  %>
  <% end%>
</div>
